# VSCode related folders and files
.vscode/

# Python-related folders and files
__pycache__/
*.pyc
*.ipynb

# JNotebook-related folders
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Result files
*.png
*.jpg
*.tiff
*.csv

# Codes for not pushing them
test_script.py
script_get_allresults.py
utils/global_classes_ht.py
fullEncoder/an_network_ht.py
